/* Global */

* {
  font-family: Roboto, Arial, sans-serif;
}

:root {
  --top-page-padding: 30px;
  --main-color: #38A883;
  --cards-color: rgb(218, 218, 218);
  --header-color: #fff;
}

ul {
  list-style: none;
  padding: 0px
}

p, li, ul, h1, h2, h3 {
  margin: 0px;
}

body {
  height: 100vh;
}

.layout-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns:300px 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar cards";
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 40px;
  padding-top: var(--top-page-padding);
  background-color: var(--main-color);
  color: white;
}

.sidebar div:first-child, .sidebar li {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar h1 {
  font-size: 30px;
  margin: 0px;
}

.sidebar div:first-child img {
  height: 30px;
}

.sidebar li {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar li img {
  height: 18px;
}

/* Header */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  align-items: baseline;
  padding-top: var(--top-page-padding);
  padding-right: 60px;
  padding-left: 45px;
  padding-bottom: 15px;
  background-color: var(--header-color);
  box-shadow: 0px 2.5px 2px rgba(0, 0, 0, 0.164);
}

header img {
  height: 30px;
}

header img[alt^="profile"] {
  border-radius: 30px;
}

.search-bar-container, .user-notifications {
  align-self: flex-start;
}

.search-bar-container {
  display: flex;
  gap: 15px;
  height: 30px;
}

.search-bar-container input {
  flex-grow: 1;
  border-radius: 10px;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 0px 10px;

}

.user-notifications {
  display: flex;
  justify-content: end;
  gap: 25px;
  align-items: center;
  height: 30px;
}

.user-notifications img[alt^="profile"] {
  height: 45px;
}

.user-notifications h2 {
  font-size: 1em;
}

.hello-user, .buttons {
  align-self: center;
}

.hello-user {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.hello-user img {
  height: 60px;
}

.hello-user span {
  font-size: 0.8em;
}

.hello-user h1 {
  font-size: 1.5em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.buttons button {
  border: none;
  border-radius: 15px;
  height: 30px;
  flex-grow: 1;
  background-color: var(--main-color);
  color: #fff;

}

/* Cards */

.cards-container {
  grid-area: cards;
  display: grid;  
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  column-gap: 15px;
  row-gap: 30px;
  background-color: var(--cards-color);
  padding: 50px 40px 60px 30px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-container ul {
  display: grid;
  flex-grow: 1;
}

.list-container > h1 {
  font-size: 1.3em;
}

.projects {
  grid-area: projects;
}

.projects ul {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px; 
}

.announcements {
  grid-area: announcements;
}

.announcements ul {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
}

.announcements ul h2 {
  font-size: 1em;
}

.announcements p {
  font-size: 0.7em;
}

.trending {
  grid-area: trending;
}

.trending ul {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 10px ;
}